@media(max-width:1399px){
    .hero-section .col-md-3 .icon-box{
        float: right;
    }
    .hero-section .hero-background .col-md-7 h2{
        padding: 10px 0px;
    }
    .journy-section .img-block img{
        width:80%;
    }
    .about-section .container .col-md-6 img{
        width: 75%;
    }
    footer .col-md-4 form button{
        padding: 6px 10px;
    }
}

@media(max-width:1199px){
    .hero-section .hero-background .col-md-7{
        padding-top:80px;
    }
    .journy-section .story-block p{
        font-size:14px;
    }
    .journy-section .img-block img{
        width: 100%;
    }
    .about-section .container .about-column p{
        font-size:14px;
    }
    .about-section .container .about-column .about-box button{
        font-size: 15px;
    }
    .about-section .container .col-md-6 img{
        width: 85%;
    }
    footer .col-md-4 form button{
        font-size: 14px;
    }
    
    .journy-section .story-block{
        padding-top: 10px;
    }
    .about-section .container .col-md-6 img{
        width: 90%;
    }
    .testimonial-section .col-md-3{
        width: 50%;
        margin-top: 20px;
    }
    footer .col-md-4 h4{
        font-size: 17px;
    }
    footer .col-md-4 form input{
        width: 70%;
    }
    footer .col-md-4 form button{
        width: 30%;
    }
    footer .col-md-4:last-child .number{
        font-size: 15px;
    }
    footer .col-md-4:last-child .call-quote{
        font-size: 17px;
    }
    footer .footer-align img{
        width: 65%;
    }
}

@media (max-width:991px){
    .hero-section header .col-md-6{
        width: 100%;
    }
    .hero-section .col-md-3:last-child{
        display: none;
    }
    .hero-section .col-md-3 .icon-box{
        float: none;
    }
    .hero-section header .col-md-3{
        width: 100%;
    }
    .hero-section header .col-md-6{
        display: none;
    }
    .hero-section header .col-md-6 ul{
        display: block;
    }
    .hero-section header .col-md-6 ul li{
        margin: 20px 0px;
        padding: 15px 0px;
    }
    .hero-section header .col-md-6 li:hover{
        background-color: cyan;
    }
    .hero-section header .col-md-6 li:hover a{
        color: black !important;
    }
    .hero-background .col-md-7,.col-md-5{
        width: 100% !important;
    }
    .hero-background .col-md-7{
        padding-top: 20px !important;
    }
    .hero-section header .logo-block .drop-menu-toggle {
        display: block;
    }
    .journy-section .story-block .journey-para{
        display: none;
    }
    .journy-section .story-block button{
        margin-top: 0px;
    }
    .about-section .container .about-column .about-para{
        display: none;
    }
    .about-section .container .about-column .about-box{
        margin-top: 0px;
    }
}

@media (max-width:767px){
    .service-section .col-md-4{
        margin-top:20px;
    }
    .journy-section .img-block img{
        margin-top: 40px;
    }
    .about-section .container .col-md-6 img{
        width: 100%;
    }
    .testimonial-section .col-md-3{
        width: 100%;
    }
    footer .footer-align{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    footer .col-md-4 form input{
        width: 80%;
    }
    footer .col-md-4 form button{
        width: 20%;
    }
}

@media (max-width:580px){
    .hero-section .hero-background .col-md-7 p{
        display: none;
    }
    .hero-section .hero-background .col-md-7{
        text-align: center;
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .hero-section .hero-background .col-md-7 h2{
        font-size: 35px;
        padding: 10px 0px;
    }
    footer .col-md-4 h4{
        text-align: center;
    }

    
}