* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*<!-- root variable -->*/
:root {
  --ssfont:'Staatliches',sans-serif;
  --ubuntu:'Ubuntu',sans-serif;
  --lobostar:'Lobster', cursive;
  --miwi-font:'Merriweather Sans', sans-serif;
  --primary-color:cyan;
  --secondary-color:#fff;
}

/*<!-- hero area -->*/
.hero-section {
  background-color: black;
  overflow: hidden;
}

.hero-section header {
  padding: 35px 0px;
}

.hero-section header .logo-block a {
  font-size: 35px;
  font-weight: 600;
  font-family: var(--ssfont);
  text-decoration: none;
  color: var(--primary-color);
}

.hero-section header .logo-block .drop-menu-toggle {
  display: none;
  float: right;
}

.hero-section header .logo-block .drop-menu-toggle i {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 5px 0px;
}

.hero-section header .col-md-6 {
  text-align: center;
}

.hero-section header .col-md-6.show {
  display: block !important;
}

.hero-section header .col-md-6 ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 15px 0px;
}

.hero-section header .col-md-6 ul li {
  list-style: none;
}

.hero-section header .col-md-6 ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  padding: 10px 25px;
}

.hero-section header .col-md-6 ul li a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.hero-section header .col-md-3 .icon-box i {
  color: var(--primary-color);
  font-size: 25px;
  margin: 15px 10px;
}

.hero-section .hero-background .col-md-7 {
  padding-top: 130px;
}

.hero-section .hero-background .col-md-7 h2 {
  color: var(--secondary-color);
  padding: 30px 0px;
  font-family: var(--ubuntu);
  font-weight: 700;
  font-size: 50px;
}

.hero-section .hero-background .col-md-7 h2 span {
  color: var(--primary-color);
  font-family: var(--ubuntu);
}

.hero-section .hero-background .col-md-7 p {
  color: var(--secondary-color);
}

.hero-section .hero-background .col-md-7 button {
  padding: 6px 25px;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  margin-top: 15px;
  font-weight: 600;
}

.hero-section .hero-background .col-md-7 button:hover {
  background-color: var(--primary-color);
  color: #111;
}

.hero-section .hero-background .col-md-5 img {
  width: 100%;
  padding-top: 20px;
}

/*<!-- service section -->*/
.service-section {
  padding: 100px 0px;
}

.service-section .service-block {
  background-color: black;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
}

.service-section .service-block .img-block {
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
  border: 1px solid var(--secondary-color);
  padding: 20px 10px;
  border-radius: 50%;
}

.service-section .service-block .img-block img {
  width: 70%;
}

.service-section .service-block h5 {
  color: var(--primary-color);
  padding: 20px 0px 15px 0px;
}

.service-section .service-block p {
  color: var(--secondary-color);
}

/*<!-- about section -->*/
.about-section {
  background-color: #000;
  padding: 200px 0px 100px 0px;
}

.about-section .row {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.about-section .row .col-md-6 img {
  width: 80%;
  padding-top: 100px;
}

.about-section .row .col-md-6:last-child {
  padding-top: 120px;
}

.about-section .row .col-md-6:last-child h2 {
  font-family: var(--ssfont);
  font-size: 45px;
}

.about-section .row .col-md-6:last-child h2 span {
  color: #00fff2;
  font-family: var(--ssfont);
}

.about-section .row .col-md-6:last-child p {
  font-family: var(--miwi-font);
  text-align: justify;
  padding: 20px 80px 20px 0px;
}

.about-section .row .col-md-6:last-child button {
  background-color: #00fff2;
  border: 2px solid #00fff2;
  color: #222;
  padding: 6px 25px;
  font-family: var(--miwi-font);
  margin-bottom: 20px;
}

.about-section .row .col-md-6:last-child a {
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #222;
  color: var(--secondary-color);
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 20px;
}

.about-section .row .col-md-6:last-child a:first-child {
  margin-left: 0px;
}

.about-section .row .col-md-6:last-child a i {
  margin-top: 10px;
}

/*<!-- journy section -->*/
.journy-section {
  padding: 100px 0px;
}

.journy-section .story-block {
  padding-right: 50px;
  padding-top: 60px;
}

.journy-section .story-block h1 {
  color: #000;
  font-family: var(--ssfont);
  padding-bottom: 20px;
}

.journy-section .story-block h1 span {
  color: var(--primary-color);
  font-family: var(--ssfont);
}

.journy-section .story-block p {
  text-align: justify;
  color: #222;
}

.journy-section .story-block button {
  background-color: #00fff2;
  color: #000;
  padding: 6px 25px;
  border: 2px solid #00fff2;
  font-weight: 600;
  margin-top: 20px;
}

.journy-section .img-block {
  text-align: center;
}

.journy-section .img-block img {
  width: 65%;
  border-radius: 10px;
}

.journy-section .img-block img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  overflow: hidden;
}

/*<!-- work gallary -->*/
.work-gallary {
  padding: 100px 0px;
  background-color: #000;
}

.work-gallary .title-box {
  text-align: center;
}

.work-gallary .title-box h1 {
  color: var(--secondary-color);
  text-align: center;
  padding-bottom: 10px;
  font-family: var(--ssfont);
}

.work-gallary .title-box img {
  margin-bottom: 50px;
}

.work-gallary .col-md-6 {
  --bs-gutter-x: 1.5rem;
  margin-top: 20px;
}

.work-gallary .col-md-6 .gallary-block {
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 100%;
}

.work-gallary .col-md-6 .gallary-block .img-block {
  width: 60%;
}

.work-gallary .col-md-6 .gallary-block .img-block img {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.work-gallary .col-md-6 .gallary-block .semi-block {
  width: 40%;
  text-align: center;
  padding: 100px 0px;
}

.work-gallary .col-md-6 .gallary-block .semi-block button {
  background-color: transparent;
  color: #222;
  padding: 6px 25px;
  border: 2px solid #222;
  font-weight: bold;
  margin-bottom: 20px;
}

.work-gallary .col-md-6 .gallary-block .semi-block .icon-box {
  width: 60%;
}

.work-gallary .col-md-6 .gallary-block .semi-block .icon-box i {
  width: 35px;
  height: 35px;
  padding: 8px 0px;
  color: #fff;
  background-color: #222;
  border-radius: 50%;
}

/*<!-- testiomonial section -->*/
.testimonial-section {
  padding: 70px 0px;
}

.testimonial-section h1 {
  text-align: center;
  padding-bottom: 50px;
  color: #222;
  font-family: var(--lobostar);
}

.testimonial-section h1 span {
  color: crimson;
  font-family: var(--lobostar);
}

.testimonial-section .col-md-3 {
  padding: 0px 25px;
}

.testimonial-section .col-md-3 .testimonial-block {
  text-align: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 0px;
  border-radius: 5px;
}

.testimonial-section .col-md-3 .testimonial-block img {
  width: 30%;
  border-radius: 50%;
}

.testimonial-section .col-md-3 .testimonial-block p {
  font-family: 'Nunito',sans-serif;
  font-style: italic;
  padding: 20px 25px 5px 25px;
}

.testimonial-section .col-md-3 .testimonial-block a {
  text-decoration: none;
  font-family: var(--lobostar);
}

.testimonial-section .col-md-3 .testimonial-block h5 {
  font-family: var(--ssfont);
  padding-top: 10px;
}

.testimonial-section .col-md-3 .testimonial-one {
  border: 1px solid gold;
}

.testimonial-section .col-md-3 .testimonial-one img {
  border: 5px solid gold;
}

.testimonial-section .col-md-3 .testimonial-two {
  border: 1px solid crimson;
}

.testimonial-section .col-md-3 .testimonial-two img {
  border: 5px solid crimson;
}

.testimonial-section .col-md-3 .testimonial-four {
  border: 1px solid #180753;
}

.testimonial-section .col-md-3 .testimonial-four img {
  border: 5px solid #180753;
}

.testimonial-section .col-md-3 .testimonial-three {
  border: 1px solid #1566fc;
}

.testimonial-section .col-md-3 .testimonial-three img {
  border: 5px solid #1566fc;
}
/*# sourceMappingURL=style.css.map */